<ul>
  <% @alien.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<%= form_for(@alien) do |f| %>
  <%= f.label 'name' %>
  <%= f.text_field :name %>
  <%= f.file_field :photo %>
  <%= f.submit %>
<% end %>