<ul>
  <% @robot.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<%= form_for(@robot) do |f| %>
  <%= f.label 'name' %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>